<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Para que Google Play sepa que la app necesita cámara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Asistente"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">

        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ControlActivity"
            android:label="Control del Asistente"
            android:exported="false"
            android:theme="@style/Theme.Asistente" />

        <!-- ACTIVIDAD NUEVA OCR -->
        <activity
            android:name=".OCRActivity"
            android:label="Lector de Texto"
            android:exported="false"
            android:theme="@style/Theme.Asistente" />

        <activity
            android:name=".CameraActivity"
            android:label="Tomar Foto"
            android:exported="false"
            android:theme="@style/Theme.Asistente"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NotificacionesActivity"
            android:label="Configurar Notificaciones"
            android:exported="false"
            android:theme="@style/Theme.Asistente" />

        <!-- Servicio de lectura de pantalla -->
        <service
            android:name=".LecturaPantallaService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="EVA"
            android:exported="true">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <!-- Configuración del servicio de accesibilidad -->
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>
</manifest>